torch
torchvision
fastapi
uvicorn
pillow
numpy
psutil
onnx
onnxruntime
python-multipart
redis
aiohttp
pytest
fakeredis
httpx
grpcio
grpcio-tools
grpcio-reflection

#env loading
python -m venv venv
source venv/bin/activate   # (Mac)